<div class="row">
	<div class="col-md-4">
		<div class="input-group" ng-show="searchVisible()"  >
			<input id="search" type="text" class="form-control" placeholder="Keywords" ng-model="keywords" ng-change="keywordsChanged()"> 
			<span class="input-group-addon" ng-click="toggleKeywordsTooltip()" ng-mouseenter="showKeywordsTooltip()" ng-mouseleave="hideKeywordsTooltip()" >
				<span class="glyphicon glyphicon-search"></span>
			</span>
		</div>
	</div>
	<div class="col-md-8">
		<div class="pull-right" ng-show="paginationVisible()">
			Page {{getCurrentPage()}} of {{getPageCount()}}&nbsp;&nbsp;
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="setPreviousPage()" ng-disabled="currentPageIsFirst()">&laquo; Prev</button>
				<button type="button" class="btn btn-default" ng-click="setNextPage()" ng-disabled="currentPageIsLast()">Next &raquo;</button>
			</div>
		</div>
	</div>
</div>
<br>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th ng-repeat="column in columns">
					<a href="" ng-click="sortByColumn(column)">{{column.title}}</a> 
					<span ng-class="{'glyphicon-chevron-up': isSortOrder(column, false), 'glyphicon-chevron-down': isSortOrder(column, true)}" class="glyphicon sort-icon" style="font-size: 10px;"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="noSearchResults()" class="warning">
				<td style="text-align: center;" colspan="{{columns.length}}">There are no results that match your keywords.</td>
			</tr>
			<tr ng-repeat="index in getCurrentPageIndexRange()">
				<td ng-repeat="column in columns">{{filteredData[index][column.property] | ngResourceTableFilterPicker: column.filter.name:column.filter.param}}</td>
			</tr>
		</tbody>
	</table>
</div>